<div class="calculator">
  <h1 class="mat-h1">Dots Calculator</h1>
  <div class="calculator-body">
    <div class="calculator-inputs">
      <mat-button-toggle-group value="LB" [(ngModel)]="units">
        <mat-button-toggle value="LB">Pounds (LB)</mat-button-toggle>
        <mat-button-toggle value="KG">Kilograms (KG)</mat-button-toggle>
      </mat-button-toggle-group>
      <br />
      <br />
      <mat-form-field>
        <mat-label>Bodyweight</mat-label>
        <input matInput #bwInput type="number" min="0" [(ngModel)]="bw" />
      </mat-form-field>
      <br />
      <mat-slide-toggle [(ngModel)]="splitInputs"
        >Input Individual Lifts</mat-slide-toggle
      >
      <br />
      <br />
      <div *ngIf="!splitInputs; else splitInputFields">
        <mat-form-field>
          <mat-label>Total</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="total" />
        </mat-form-field>
      </div>
      <ng-template #splitInputFields>
        <mat-form-field>
          <mat-label>Squat</mat-label>
          <input
            matInput
            type="number"
            min="0"
            [max]="MAX_WEIGHT"
            [(ngModel)]="squat"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Bench</mat-label>
          <input
            matInput
            type="number"
            min="0"
            [max]="MAX_WEIGHT"
            [(ngModel)]="bench"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Deadlift</mat-label>
          <input
            matInput
            type="number"
            min="0"
            [max]="MAX_WEIGHT"
            [(ngModel)]="deadlift"
          />
        </mat-form-field>
      </ng-template>
      <br />
      <mat-button-toggle-group value="M" [(ngModel)]="sex">
        <mat-button-toggle value="M">Male</mat-button-toggle>
        <mat-button-toggle value="F">Female</mat-button-toggle>
      </mat-button-toggle-group>
      <br />
      <br />
      <button mat-flat-button color="accent" (click)="calculate()">
        Calculate!
      </button>
    </div>
    <div class="calculator-results" *ngIf="calculated">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Results</mat-card-title>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <h3 class="mat-h3">Dots: {{ dots.toFixed(2) }}</h3>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <br />
      <mat-card *ngIf="splitInputs">
        <mat-card-header>
          <mat-card-title style="width: 100%">
            Jeff Nippard Strength Level Progression
          </mat-card-title>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>Squat</mat-card-subtitle>
          <mat-label>
            {{ CATEGORIES[squatLevelIndex] }} ({{ squatRatio.toFixed(2) }}x
            bodyweight)
          </mat-label>
          <mat-progress-bar
            color="accent"
            [value]="squatProgress"
          ></mat-progress-bar>
          <mat-label>{{ squatProgress.toFixed(2) }}% progression</mat-label>
          <br />
          <br />
          <mat-divider />
          <br />
          <mat-card-subtitle>Bench</mat-card-subtitle>
          <mat-label>
            {{ CATEGORIES[benchLevelIndex] }} ({{ benchRatio.toFixed(2) }}x
            bodyweight)
          </mat-label>
          <mat-progress-bar
            color="accent"
            [value]="benchProgress"
          ></mat-progress-bar>
          <mat-label>{{ benchProgress.toFixed(2) }}% progression</mat-label>
          <br />
          <br />
          <mat-divider />
          <br />
          <mat-card-subtitle>Deadlift</mat-card-subtitle>
          <mat-label>
            {{ CATEGORIES[deadliftLevelIndex] }} ({{
              deadliftRatio.toFixed(2)
            }}x bodyweight)
          </mat-label>
          <mat-progress-bar
            color="accent"
            [value]="deadliftProgress"
          ></mat-progress-bar>
          <mat-label>{{ deadliftProgress.toFixed(2) }}% progression</mat-label>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
