<mat-dialog-content>
  <p>
    <b>Dots Calculator</b>
    <br />
    Dots are a measurement of a powerlifter's competitiveness. They are
    <a
      href="https://www.powerlifting.sport/fileadmin/ipf/data/ipf-formula/Models_Evaluation-I-2020.pdf"
    >
      calculated using coefficients
    </a>
    based on a lifter's sex and weight class.
    <br />
    Assuming fully-tested and raw lifting:
    <br />
    350 dots = Top 33%
    <br />
    400 dots = Top 13%
    <br />
    450 dots = Top 3%
    <br />
    500 dots = Top 0.4%
  </p>
  <p>
    <b>Jeff Nippard Strength Level Calculator</b>
    <br />
    <a
      href="https://jeffnippard.com/blogs/news/how-strong-should-you-be-noob-to-freak-1"
    >
      Jeff Nippard released a video
    </a>
    discussing his strength level standards, calculated from a lifter's
    1-rep-max (1RM) strength for each of the squat, bench, and deadlift in
    proportion to their bodyweight.
    <br />
    Inputting each lift individually will additionally display your strength
    level per lift.
  </p>
</mat-dialog-content>
