@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #c2185b;
  --color-accent: #b0bec5;
  --color-warn: #f44336;
  --color-success: #ef9a9a;
}

.toolbar-spacer {
  flex: 1 1 auto;
}